@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    background-color: #111111;
    overflow: hidden;
}

button {
    background: #31b0d5;
}
.subtitle {
    margin-bottom: 24px;
    padding-top: 20px;
    line-height: 1;
    font-size: 1.5em;
    color: #00FF2A;
    font-family: minecraftia
}

.logotxt {
    color: red;
    padding-top: 5px;
    margin-bottom: 0;
    font-family: mr-robot, serif;
    font-size: 7em;
}

button:hover {
    background: #1b6d85;
}

@media only screen and (max-width: 375px ) {
    h4 {
        font-size: 1em;
    }

    .logotxt {
        color: red;
        padding-top: 5px;
        margin-bottom: 0;
        font-family: mr-robot, serif;
        font-size: 5em;
    }

}

@media only screen and (max-width: 375px ) {
    h4 {
        font-size: 1em;
    }

    .logotxt {
        color: red;
        padding-top: 5px;
        margin-bottom: 0;
        font-family: mr-robot, serif;
        font-size: 4em;
    }

}

@media only screen and (max-width: 766px ) {
    h4 {
        font-size: 1em;
    }

    .logotxt {
        color: red;
        padding-top: 5px;
        margin-bottom: 0;
        font-family: mr-robot, serif;
        font-size: 5em;
    }

}

.binary {
    position: absolute;
    top: 0;
    left: 300px;
    z-index: -1;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-animation-duration: 800ms;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color: white;
    text-shadow: 0 0 10px #91EDFF;
}



.prompt, .cursor, .command  {
    font-family: FreeMono, monospace;
    font-size: 2em;
    font-weight: bold;
}
.prompt, .command {
    color: #0c0;
    text-shadow: 0 0 3px rgba(0,100,0,50);
}
.cursor {
    background: #0c0;
    -webkit-animation: 1s blink infinite;
    animation: 1s blink infinite;
    -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
    box-shadow: 0 0 5px rgba(0,100,0,50);
}
@keyframes blink {
    50% {
        color: #0c0;
        background: #000;
        -webkit-box-shadow: 0 0 0 rgba(0,100,0,50);
        box-shadow: 0 0 0 rgba(0,100,0,50);
    }
}
@-webkit-keyframes blink {
    50% {
        color: #0c0;
        background: #000;
        -webkit-box-shadow: 0 0 0 rgba(0,100,0,50);
        box-shadow: 0 0 0 rgba(0,100,0,50);
    }
}
@-ms-keyframes blink {
    50% {
        color: #0c0;
        background: #000;
        -webkit-box-shadow: 0 0 0 rgba(0,100,0,50);
        box-shadow: 0 0 0 rgba(0,100,0,50);
    }
}
@-moz-keyframes blink {
    50% {
        color: #0c0;
        background: #000;
        -webkit-box-shadow: 0 0 0 rgba(0,100,0,50);
        box-shadow: 0 0 0 rgba(0,100,0,50);
    }
}
