@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    background-color: #111111;
    overflow: hidden;
}
button {
    background: #31b0d5;
}
.logotxt {
    color: #00FF2A;
    padding-top: 5px;
    margin-bottom: 0;
    font-family: minecraftia, serif;
    font-size: 7em;
}
button:hover{
    background: #1b6d85;
}
@media only screen and (max-width: 375px ) {
    h4 {
        font-size: 1em;
    }

    .logotxt {
        color: #00FF2A;
        padding-top: 5px;
        margin-bottom: 0;
        font-family: minecraftia, serif;
        font-size: 5em;
    }

}

@media only screen and (max-width: 375px ) {
    h4 {
        font-size: 1em;
    }

    .logotxt {
        color: #00FF2A;
        padding-top: 5px;
        margin-bottom: 0;
        font-family: minecraftia, serif;
        font-size: 5em;
    }

}
@media only screen and (max-width: 766px ) {
    h4 {
        font-size: 1em;
    }

    .logotxt {
        color: #00FF2A;
        padding-top: 5px;
        margin-bottom: 0;
        font-family: minecraftia, serif;
        font-size: 5em;
    }

}


    .binary {
        position: absolute;
        top: 0;
        left: 300px;
        z-index: -1;
        font-family: 'Source Sans Pro', sans-serif;
        -webkit-animation-duration: 800ms;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        color: white;
        text-shadow: 0 0 10px #91EDFF;
    }
