@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    background-color: #111111;
    overflow: hidden;
}
button {
    background: #31b0d5;
}

button:hover{
    background: #1b6d85;
}
.logotxt {
    color: #00FF2A;
    margin-bottom:0px;
    padding-top:5px;

    font-family:minecraftia;
    font-size: 7em;
}
#logo {
   position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    max-width: 50%;
    max-height:100%;
    overflow:auto;
}

.binary {
    position: absolute;
    top: 0;
    left: 300px;
    z-index: -1;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-animation-duration: 800ms;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color: white;
    text-shadow: 0 0 10px #91EDFF;
}